@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Auctions Website</h1>
    <p>To see available auctions go to <a href="https://localhost:7090/">Active Listings</a> page.</p>
    <p>If you want to bid or auction an item <a href="https://localhost:7090/Identity/Account/Register">register</a> or <a href="https://localhost:7090/Identity/Account/Login">login</a>.</p>
</div>
